<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_my.file.serviceImpl.FileMapper">

    <update id="insertFile" parameterType="FileDto">
        <foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO TB_FILE
                (
                    FILE_ID ,UNITY_ID, FILE_NM, FILE_PATH, FILE_ORGINL_NM, FILE_SIZE
                )
            VALUES
                (
                      #{item.fileId}
                    , #{item.unityId}
                    , #{item.fileNm}
                    , #{item.filePath}
                    , #{item.fileOrginlNm}
                    , #{item.fileSize}
                )
        </foreach>
    </update>

    <select id="getFileList" parameterType="FileDto">
        SELECT * FROM TB_FILE WHERE UNITY_ID = #{unityId}
    </select>

</mapper>